# Web Framework
flask

# Data Science and Machine Learning
numpy
pandas
scikit-learn
tensorflow  # Or tensorflow-cpu if you don't need GPU support

# Data Visualization
matplotlib
seaborn

# Database ORM
SQLAlchemy

